/* navbar */
#navbars a{
    text-decoration: none;
    color: white;
   
}
#navbars a.active{
    color: orangered;
}

/* home */

#home{
    height: 95vh;
    color: white;
}

/* form-div */

#form-div {
    display: flex;
    height: 94vh;
    align-items: center;
    justify-content: center;
}